.custom-table-container {
  padding: 20px 0;
}

table {
  width: 100%;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.custom-table-container {
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
}

tr:nth-child(even) {
  background: #f2f2f2;
}
